body {
  background-color: #000000;
  color: #00ff00;
  font-family: 'Courier New', monospace;
  letter-spacing: 1px;
  line-height: 1.25;
  cursor: none;
}

div.terminal-container {
  margin: 5%;
}

div.terminal-section {
  display: inline;
  margin: 0;
  padding: 0;
  white-space: pre-line;
}

input {
  background-color: #000000;
  border: #000000;
  color: #00ff00;
  opacity: 0;
  filter: alpha(opacity=0);
  font-family: 'Courier New', monospace;
  cursor: none;
  width: 0;
}
